.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
config.yaml
wails_windows_amd64.syso
*.zip
gotohp-cli
gotohp
frontend/bindings/
build/windows/icon.ico
build/windows/info.json
build/windows/wails.exe.manifest
.proto/第二次请求_request body
.proto/第二次请求_response body
.proto/第三次请求_request body
.proto/第三次请求_response body
.proto/第一次请求_request body
.proto/第一次请求_response body
.proto/有变化的增量更新请求_request body
.proto/有变化的增量更新请求_response body
.proto/增量更新的请求_request body
.proto/增量更新的请求_response body
.proto/增量更新请求_删除照片_response body
.proto/增量更新请求_新增照片_response body copy
app.exe
gotohp.exe
reference/incremental_update_summary.md
reference/protobuf_definitions.md

# Local DB and Config
media_db.json

# Build Artifacts
gotohp-cli.exe
gotohp-cli-linux

# System Files
.gemini/
*.log
.DS_Store
Thumbs.db

reference/gfqq2
.claude/settings.local.json
